<h1>先生クリッカー TOP</h1>

<p>投票ID: <%= @clicker_id %></p>
<br>

<form id="new_clicker" action="/top" accept-charset="UTF-8" method="post">
  <%= token_tag %>

  <input type="hidden" name="clicker_id" id="clicker_id" value="<%= @clicker_id %>"/>
  <input type="hidden" name="clicker_type" id="clicker_type" value="1"/>

  <input type="submit" value="4択投票 開始" />
</form>

<form id="new_clicker" action="/top" accept-charset="UTF-8" method="post">
  <%= token_tag %>

  <input type="hidden" name="clicker_id" id="clicker_id" value="<%= @clicker_id %>"/>
  <input type="hidden" name="clicker_type" id="clicker_type" value="2"/>

  <input type="submit" value="2択投票 開始" />
</form>
