<h1>参加者 TOP</h1>
<p>参加者ID:<%= @participant_id %></p>
<p id="clicker_id">投票ID:<%= @clicker_id %></p>
<div data-clicker-id="<%= @clicker_id %>"></div>
<% if @clicker_type %>
  <div id="clicker-canvas"><h2>投票種別：<%= @clicker_type %></h2></div>
<% else %>
  <div id="clicker-canvas">Waiting・・・</div>
<% end %>

<div>
<form id="clicker" action="/four" accept-charset="UTF-8" method="post">
  <%= token_tag %>

  <input type="hidden" name="clicker_id" id="clicker_id" value="<%= @clicker_id %>"/>
  <input type="hidden" name="clicker_type" id="clicker_type" value="1"/>

  <input type="submit" value="4択投票" />
</form>
</div>

<div>
<form id="clicker" action="/tow" accept-charset="UTF-8" method="post">
  <%= token_tag %>

  <input type="hidden" name="clicker_id" id="clicker_id" value="<%= @clicker_id %>"/>
  <input type="hidden" name="clicker_type" id="clicker_type" value="2"/>

  <input type="submit" value="2択投票" />
</form>
</div>
